<div class="card-columns">
        <div class="card" *ngFor="let item of availableStaff">
            <div class="card-img-top staff-image" [ngStyle]="{backgroundImage: 'url(' + randomImage() + ')'}"></div>
            <div class="card-body">
                <h5 class="card-title">{{item.title}}</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <div class="card-body">
                <a mdbBtn color="primary" mdbWavesEffect>Hire &pound;{{item.price}}</a>
            </div>
        </div>
</div>